# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Environment variables
.env

# Flask
instance/
*.sqlite3

# Docker
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db